
@model IEnumerable<ProjectApp.Models.Auctions.UserVm>

@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                @Html.ActionLink("Delete User", "DeleteUser", new { id = user.Id }, new { @class = "text-danger" }) |
                @Html.ActionLink("Auctions", "ViewUserAuctions", new { id = user.Id })
            </td>
        </tr>
    }
    </tbody>
</table>